body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
button
{
    height: 30px;
    margin: 5px;
    text-align: center;
    padding: 0 10px;
    color: white;
    border: none;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#00e900), to(#009d00));
    margin-left: 40%;
    
}
h1{
    text-align: center;
}
h2{
    margin-top: 0;
    margin-bottom: 3px;
   
}
.main{
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    width: 800px;
    padding: 15px;
    background-color: #b6f5f5;
    border-bottom: 2px solid black;
}
.main:hover{
    background-color: #ff5555;
}

.block_i
{
    display: block;
}
.block_news{
    background-color:  #e1ff73;
    width: 500px;
    top: 340px;
    position: absolute;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, 0);
    padding: 20px;
    display: none;
}

#background{
    width: 100%;
    z-index: 1;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 0;
    display: none;
}